<?xml version="1.0"?>
<robot name="turtlebot3_burger" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- Include Xacro files -->
  <xacro:include filename="$(find tb3_description)/urdf/burger_tb3/modules/turtlebot3_burger.urdf.xacro" />

   <!-- Include Gazebo Xacro files -->
  <xacro:include filename="$(find tb3_description)/urdf/burger_tb3/gazebo_modules/gazebo_diff.xacro" />
  <xacro:include filename="$(find tb3_description)/urdf/burger_tb3/gazebo_modules/gazebo_sensors.xacro" />

</robot>